/* common css */
.font{
    font-family: "Raleway", sans-serif;
}
.margin{
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}
.color{
    color: rgb(78, 71, 255);
}
.color1{
    color: white;
}
.bgcolor{
    background-color:rgb(78, 71, 255);
}
.display{
    display: flex;
}
.display2{
    justify-content: space-around;
}
.display3{
    justify-content: left;
}
.display4{
    align-items: center;
}
.gap1{
    gap: 20px;
}
.align{
    text-align: center;
}
.margin2{
    margin-top: 20px;
}

/* cover css+navbar */
.container{
    position: relative;
    width: 100%;
    margin: 0 auto;
}
 .position1{
    position: absolute;
    top: 20px;
    left: 120px;
 }
 .position2{
    position: absolute;
    top: 20px;
    right: 120px;
 }
 .position3{
    position: absolute;
    top: 250px;
    left: 220px;
    right: 220px;

 }
 .position4{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.txt-1{
    font-size: 34px;
    font-weight: 900;
}
.txt-2{
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}
.btn-1{
    border-radius: 5%;
    padding: 12px 36px 12px 36px;
    border-color: blue;
    font-size: 16px;
    font-weight: 700;
}
.btn-2{
    width: 174px;
    height: 48px;
    border-radius: 5%;
    border-color: blue;
    font-size: 16px;
    font-weight: 700;
}
.style1{
    max-width: 100%;
}

/* 2nd part */
.body1{
    justify-content: space-around;
}
.stxt-3{
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
}
.stxt-4{
    color: rgba(37, 36, 50, 0.5);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
}
.img1{
    border-radius: 48px;
}
/* 3rd content */
.background2{
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1);
}
.stxt-5{
    color: rgb(78, 71, 255);
    font-family: Raleway;
    font-size: 80px;
    font-weight: 700;
}
.stxt-6{
    color: rgba(0, 0, 0, 0.5);
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
}
/* next part */
.card-bg{
    box-sizing: border-box;
    border: 1px solid rgb(207, 194, 194);
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.5);
    padding: 25px;
    margin-right: 20px;
}
.stxt-7{
    color: rgb(30, 30, 30);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 600;
}
.stxt-8{
    color: rgb(30, 30, 30);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
}
.stxt-9{
    color: rgb(117, 117, 117);
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
}
/* the next part */
.txt-3{
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 97px;
    font-weight: 700;
}
.stxt-10{
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 18px;
    font-weight: 500;
}
.padd-2{
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}
.ex-1{
    width: 200px;
    height: 135px;
}
